Repository silkjs/linson: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: update switch, doc
  app/src/views/development.tsx
  docs/README.md
  docs/css.md
  package/common/styles/theme.scss
  package/widgets/switch/index.scss
Due: prettier --write, eslint --fix

feat: update checkbox
  app/src/views/development.tsx
  docs/progress.md
  package/widgets/checkbox/checkbox.tsx
  package/widgets/checkbox/index.scss
Due: prettier --write, eslint --fix

feat: update radio
  app/src/views/development.tsx
  package/widgets/radio/index.scss
  package/widgets/radio/radio.tsx
  package/widgets/radio/types.ts
Due: prettier --write, eslint --fix

feat: update input
  package/widgets/input/index.scss
  package/widgets/input/input.tsx
Due: prettier --write, eslint --fix

fix: scss list, map set white,black key get error
  package/common/styles/theme.scss
  package/widgets/switch/index.scss
Due: none

feat: update config
  .npmignore
  .stylelintignore
  package.json
Due: prettier --write

feat: update carousel
  package/widgets/carousel/carousel-item.tsx
  package/widgets/carousel/carousel.tsx
  package/widgets/carousel/index.scss
  package/widgets/carousel/index.ts
Due: prettier --write, eslint --fix

feat: update pagination, usage
  app/src/views/development.tsx
  package/components.ts
  package/widgets/pagination/index.scss
  package/widgets/pagination/pagination.tsx
Due: prettier --write, eslint --fix

feat: update doc
  README.md
  README.zh-CN.md
  package.json
Due: prettier --write

feat: update doc
  README.md
  README.zh-CN.md
Due: prettier --write

feat: update steps, pagination
  package/widgets/pagination/index.scss
  package/widgets/pagination/pagination.tsx
  package/widgets/steps/index.scss
  package/widgets/steps/step-item.tsx
Due: prettier --write, eslint --fix

feat: update skeleton
  package/widgets/skeleton/index.scss
Due: none

feat: update icon
  package/widgets/icon/icon.tsx
  package/widgets/icon/index.scss
Due: prettier --write, eslint --fix

feat: update carousel
  package/widgets/carousel/carousel-item.tsx
  package/widgets/carousel/carousel.tsx
  package/widgets/carousel/index.scss
Due: prettier --write, eslint --fix

feat: update usage
  app/src/main.ts
  app/src/views/development.tsx
  package/widgets/button/index.scss
Due: prettier --write, eslint --fix

feat: update usage
  app/src/views/development.tsx
  package/widgets/dialog/types.ts
  package/widgets/message/types.ts
Due: prettier --write, eslint --fix

feat: Feedback update
  app/src/views/development.tsx
  package/widgets/dialog/types.ts
  package/widgets/message/types.ts
Due: prettier --write, eslint --fix

feat: update message
  app/src/views/development.tsx
  package/widgets/message/index.scss
  package/widgets/message/message-provider.tsx
  package/widgets/message/message.tsx
  package/widgets/message/types.ts
Due: prettier --write, eslint --fix

feat: update content
  .eslintrc.json
  app/src/views/development.tsx
  package/components.ts
  package/widgets/context-menu/context-menu.tsx
  package/widgets/context-menu/index.md
  package/widgets/context-menu/index.scss
  package/widgets/context-menu/index.ts
  package/widgets/context-menu/types.ts
  package/widgets/dialog/dialog.tsx
  package/widgets/dialog/index.scss
  package/widgets/dialog/types.ts
Due: prettier --write, eslint --fix

feat: update doc
  README.md
Due: prettier --write

feat: update widgets
  package/widgets/dialog/dialog-provider.tsx
  package/widgets/message/message-provider.tsx
  package/widgets/message/message.tsx
Due: prettier --write, eslint --fix

feat: update locales
  package/locales/configs/enUS.ts
  package/locales/configs/zhCN.ts
  package/locales/locales-type.ts
Due: prettier --write, eslint --fix

feat: update widgets
  app/src/views/development.tsx
  package/widgets/popconfirm/popconfirm.tsx
  package/widgets/popover/index.scss
  package/widgets/popover/popover.tsx
  package/widgets/tooltip/index.scss
  package/widgets/tooltip/tooltip.tsx
Due: prettier --write, eslint --fix

feat: update doc, widget
  app/src/style.scss
  docs/node.md
  package/widgets/popover/popover.tsx
  package/widgets/popover/types.ts
Due: prettier --write, eslint --fix

feat: update doc
  docs/progress.md
Due: prettier --write

feat: update widget
  package/widgets/tabs/tabs.tsx
  package/widgets/tabs/types.ts
Due: prettier --write, eslint --fix

feat: update doc
  docs/README.md
  docs/css.md
  docs/features.md
  docs/node.md
  docs/npm.md
Due: prettier --write

feat: update widget
  package/widgets/tabs/tab-pane.tsx
  package/widgets/tabs/tabs.tsx
  package/widgets/tabs/types.ts
Due: prettier --write, eslint --fix

feat: update doc
  docs/design/form.md
Due: prettier --write

feat: update doc
  docs/design/http-client.md
Due: prettier --write

feat: update http
  package/utils/http.ts
Due: prettier --write, eslint --fix

feat: update doc
  docs/design/dialog.md
Due: prettier --write

feat: update doc
  docs/design/table-pagination.md
Due: prettier --write

feat: update doc
  docs/css.md
Due: prettier --write

feat: update doc, style common
  docs/features.md
  package/common/styles/styles.scss
  package/common/styles/theme.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,yml,json}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
