Repository silkjs/linson: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: update divider
  package/widgets/divider/index.scss
Due: none

feat: update tabs
  package/widgets/tabs/index.scss
  package/widgets/tabs/tabs.tsx
Due: prettier --write, eslint --fix

feat: update icon and pagination
  package/widgets/icon/icon.tsx
  package/widgets/icon/index.scss
  package/widgets/icon/index.ts
  package/widgets/icon/resource.tsx
  package/widgets/icon/types.ts
  package/widgets/pagination/index.scss
  package/widgets/pagination/pagination.tsx
Due: prettier --write, eslint --fix

feat: update widgets
  package/widgets/breadcrumb/breadcrumb-item.tsx
  package/widgets/form/form-item.tsx
  package/widgets/form/index.scss
  package/widgets/input/index.scss
Due: prettier --write, eslint --fix

feat: update usage
  app/src/views/development.tsx
  package/widgets/popover/popover.tsx
Due: prettier --write, eslint --fix

feat: update widget
  package/widgets/menu/menu-item.tsx
  package/widgets/menu/menu-sub.tsx
  package/widgets/menu/menu.tsx
  package/widgets/tabs/index.scss
  package/widgets/tabs/tab-pane.tsx
Due: prettier --write, eslint --fix

feat: update widget
  package/widgets/context-menu/context-menu.tsx
  package/widgets/context-menu/index.scss
Due: prettier --write, eslint --fix

feat: doc update
  README.md
  README.zh-CN.md
Due: prettier --write

feat： update
  docs/features.md
Due: prettier --write

feat: update widget
  package/widgets/form/form-item.tsx
  package/widgets/form/index.scss
Due: prettier --write, eslint --fix

feat: update message, tabs widget; update usage;
  app/src/views/development.tsx
  package.json
  package/widgets/message/index.scss
  package/widgets/message/message-provider.tsx
  package/widgets/message/message.tsx
  package/widgets/message/types.ts
  package/widgets/tabs/index.scss
  package/widgets/tabs/tab-pane.tsx
  package/widgets/tabs/tabs.tsx
  package/widgets/tabs/types.ts
Due: prettier --write, eslint --fix

feat: widgets and doc update
  app/src/app.tsx
  docs/design/form.md
  docs/design/http-client.md
  docs/features.md
  package/widgets/carousel/carousel-item.tsx
  package/widgets/carousel/carousel.tsx
  package/widgets/carousel/types.ts
  package/widgets/dialog/dialog-provider.tsx
  package/widgets/dialog/dialog.tsx
  package/widgets/dialog/index.scss
  package/widgets/dialog/types.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,yml,json}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
