Repository silkjs/linson: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,md,yml,json}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

feat: update form util
  package/example.tsx
  package/form/form-type.ts
  package/form/form.ts
  package/utils/form/form-option.ts
  package/utils/form/form-rule.ts
  package/utils/form/form-type.ts
  package/utils/form/form-validator.ts
  package/utils/form/form.ts
  package/utils/form/index.ts
  package/widgets/form/form-group-type.tsx
  package/widgets/form/form-group.tsx
  package/widgets/form/form-item-type.ts
  package/widgets/form/form-item.tsx
  package/widgets/form/form-type.ts
  package/widgets/form/form.tsx
  package/widgets/form/index.ts
Due: prettier --write, eslint --fix

feat: update form
  package.json
  package/usage.tsx
  package/utils/form/form-option.ts
  package/utils/form/form-rule.ts
  package/utils/form/form-type.ts
  package/utils/form/index.ts
  package/widgets/form/form-item-type.ts
  package/widgets/form/form-item.tsx
Due: prettier --write, eslint --fix

feat: update
  package/components.ts
  package/usage.tsx
  package/widgets/checkbox/index.ts
  package/widgets/input/index.ts
  package/widgets/radio/index.ts
  package/widgets/tabs/index.ts
  package/widgets/tabs/tab-pane-type.ts
  package/widgets/tabs/tab-pane.tsx
Due: prettier --write, eslint --fix

feat: update button, grid props
  package/widgets/button/button-type.ts
  package/widgets/button/button.tsx
  package/widgets/grid/col-type.ts
  package/widgets/grid/col.tsx
  package/widgets/grid/row-type.ts
  package/widgets/grid/row.tsx
Due: prettier --write, eslint --fix

feat: update widgets, set app development flow
  .prettierignore
  app/package.json
  app/src/app.tsx
  app/src/views/development.tsx
  app/src/views/production.tsx
  app/src/widgets/showcase.tsx
  package.json
  package/components.ts
  package/linson.ts
  package/locales/configs/enUS.ts
  package/locales/configs/zhCN.ts
  package/locales/index.ts
  package/locales/locales-type.ts
  package/utils/context.ts
  package/widgets/button/button-type.ts
  package/widgets/button/button.tsx
  package/widgets/config-provider/config-provider-type.tsx
  package/widgets/config-provider/config-provider.tsx
  package/widgets/config-provider/index.ts
  package/widgets/divider/divider-type.ts
  package/widgets/divider/divider.tsx
  package/widgets/divider/index.scss
  package/widgets/dropdown/dropdown-type.ts
  package/widgets/dropdown/dropdown.tsx
  package/widgets/grid/row.tsx
  package/widgets/icon/icon-type.ts
  package/widgets/icon/icon.tsx
  package/widgets/message/message-provider-type.ts
  package/widgets/message/message-provider.tsx
  package/widgets/space/space-type.ts
  package/widgets/space/space.tsx
  package/widgets/tabs/index.scss
  package/widgets/tabs/tabs.tsx
Due: prettier --write, eslint --fix

feat: update css class pattern
  .stylelintrc
  docs/README.md
  package.json
  package/widgets/skeleton/index.scss
Due: prettier --write

feat: update widgets
  app/src/views/development.tsx
  package/widgets/button/button.tsx
  package/widgets/button/index.scss
  package/widgets/skeleton/index.scss
  package/widgets/skeleton/skeleton.tsx
Due: prettier --write, eslint --fix

feat: update Breadcrumb
  app/src/views/development.tsx
  package/widgets/breadcrumb/breadcrumb-item.tsx
  package/widgets/breadcrumb/breadcrumb.tsx
  package/widgets/breadcrumb/index.scss
Due: prettier --write, eslint --fix

feat: update tag
  app/src/views/development.tsx
  docs/node.md
  package/widgets/tag/index.scss
  package/widgets/tag/tag.tsx
Due: prettier --write, eslint --fix

feat: update alert
  app/src/views/development.tsx
  package/widgets/alert/alert.tsx
  package/widgets/alert/index.scss
Due: prettier --write, eslint --fix

feat: pkg update
  package.json
Due: prettier --write

feat: add action
  .github/workflows/main.yml
Due: prettier --write

doc: update readme
  README.md
  README.zh-CN.md
Due: prettier --write

feat: update doc, flow
  .github/workflows/action-main.yml
  README.md
  README.zh-CN.md
  package.json
Due: prettier --write

feat: unit test update
  package/widgets/button/button.spec.tsx
Due: prettier --write, eslint --fix

fixed: import error
  package/widgets/dialog/dialog.tsx
  package/widgets/steps/step-item.tsx
Due: prettier --write, eslint --fix

feat: update action
  .github/workflows/action-main.yml
  README.md
  README.zh-CN.md
Due: prettier --write

feat: add Coveralls, update doc
  .github/workflows/action-main.yml
  .npmignore
  README.md
  README.zh-CN.md
  package.json
Due: prettier --write

feat: update action
  .github/workflows/action-main.yml
  README.md
  README.zh-CN.md
  package.json
Due: prettier --write

feat: update action
  .github/workflows/action-main.yml
Due: prettier --write

feat: action
  .github/workflows/action-main.yml
Due: prettier --write

feat: update doc
  README.md
  README.zh-CN.md
Due: prettier --write

feat: update config
  tsconfig.build.json
Due: prettier --write

feat: update widget and demo
  README.md
  app/src/app.tsx
  app/src/views/development.tsx
  package/common/linson-type.ts
  package/usage.tsx
  package/widgets/dialog/dialog-provider.tsx
  package/widgets/dialog/types.ts
  package/widgets/input/input.tsx
  package/widgets/input/types.ts
Due: prettier --write, eslint --fix

doc: project description
  docs/README.md
Due: prettier --write

feat: widget update
  package/common/linson-type.ts
  package/components.ts
  package/utils/context.ts
  package/widgets/card/card.spec.tsx
  package/widgets/card/card.tsx
  package/widgets/card/index.md
  package/widgets/card/index.scss
  package/widgets/card/index.ts
  package/widgets/card/types.ts
  package/widgets/dropdown/dropdown.tsx
  package/widgets/dropdown/types.ts
Due: prettier --write, eslint --fix

feat: style configuration update
  package/common/styles/theme.scss
Due: none

feat: demo update
  app/package.json
  app/src/views/development.tsx
Due: prettier --write, eslint --fix

doc: update features, add progress
  README.md
  README.zh-CN.md
  docs/progress.md
Due: prettier --write

feat: demo update
  app/src/app.tsx
  app/src/mode-development.tsx
  app/src/mode-production.tsx
Due: prettier --write, eslint --fix

feat: widget update
  package/widgets/alert/alert.tsx
  package/widgets/alert/types.ts
Due: prettier --write, eslint --fix

update: doc and usage
  app/src/style.scss
  app/src/views/development.tsx
  docs/features.md
Due: prettier --write, eslint --fix

feat: update
  app/src/views/development.tsx
  package/widgets/checkbox/checkbox.tsx
  package/widgets/checkbox/index.scss
  package/widgets/checkbox/types.ts
  package/widgets/dropdown/dropdown.tsx
  package/widgets/dropdown/index.scss
Due: prettier --write, eslint --fix

feat: update form
  app/src/views/development.tsx
  package/widgets/form/form-item.tsx
Due: prettier --write, eslint --fix

feat: add switch
  app/src/views/development.tsx
  package/widgets/switch/index.scss
  package/widgets/switch/switch.tsx
  package/widgets/switch/types.ts
Due: prettier --write, eslint --fix
